.quarto-title-block .quarto-title-banner {
  background-image: url(RISE_NEG.png);
  background-size: 55px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 25px;
  background-origin: content-box;
}
